{% extends 'boilerplate.html' %}

{% block title %}{{ micropost.title }} - {{ request.META.HTTP_HOST }}{% endblock title %}
{% block meta_description %}{{ micropost.title | slice:':160' }}{% endblock meta_description %}
{% block meta_author %}{{ micropost.author }}{% endblock meta_author %}

{% block content %}

  {% if micropost.author.profile_image.url != '' %}
    <img src="{{ micropost.author.profile_image.url }}" alt="{{ micropost.author.name }}'s profile image" width="100" height="100"></img>
  {% endif %}

  <a href="{{ micropost.author.get_absolute_url }}">{{ micropost.author }}</a>
  {{ micropost.modified | date:'M j, Y' }}

  <h1>{{ micropost.title }}</h1>

  {% if micropost.image.url != '' %}
    <picture>
      <img src="{{ micropost.image.url }}" alt="Featured image for article, {{ micropost.title }}"></img>
    </picture>
  {% endif %}

  <article>
    {{ micropost.content | safe }}
  </article>

  <!-- MICROPOST LIKES -->
  <form method="POST" action="{% url 'microposts:micropost_like_unlike' micropost.pk %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit">
      <i>{% if request.user in micropost.likers.all %}Unlike{% else %}Like{% endif %}<span> {{ micropost.likers.all.count }}</span></i>
    </button>
  </form>
  <!-- MICROPOST LIKES -->

  <p>Tags:
  {% for tag in micropost.tags.all %}
    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
  {% endfor %}
  </p>

  {% if user.is_authenticated %}
    <h2>{{ nro_of_comments }} {% if nro_of_comments == 1 %}comment{% else %}comments{% endif %}</h2>
    <form action="" method="POST">
      {% csrf_token %}
      <label for="comment">Type Comment here</label>
      {{ comment_form.comment }}
      <input type="submit" value="Post">
    </form>
  {% else %}
    <h2>{{ nro_of_comments }} {% if nro_of_comments == 1 %}comment{% else %}comments{% endif %} - You need to <a href="{% url 'accounts:login' %}?next={{ request.path }}">Login</a> to comment</h2>
  {% endif %}

  {% for comment in comments %}
    {% if comment.is_parent %}
    <p>{{ comment.created | timesince }}</p>
    <h3>{{ comment.author }}</h3>
    <p>{{ comment.comment }}</p>

      <!-- PARENT COMMENT LIKES -->
      <form method="POST" action="{% url 'microposts:micropost_comment_like_unlike' micropost.pk comment.pk %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit">
          <i>{% if request.user in comment.likers.all %}Unlike{% else %}Like{% endif %}<span> {{ comment.likers.all.count }}</span></i>
        </button>
      </form>
      <!-- PARENT COMMENT LIKES -->

    {% for replies in comment.child_comments %}
      <p>--{{ comment.created | timesince }}</p>
      <h3>--{{ comment.author }}</h3>
      <p>--{{ replies.comment }}</p>

        <!-- CHILD COMMENT LIKES -->
        <form method="POST" action="{% url 'microposts:micropost_comment_like_unlike' micropost.pk replies.pk %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.path }}">
          <button type="submit">
            <i>{% if request.user in replies.likers.all %}Unlike{% else %}Like{% endif %}<span> {{ replies.likers.all.count }}</span></i>
          </button>
        </form>
        <!-- CHILD COMMENT LIKES -->
    {% endfor %}

    {% if user.is_authenticated %}
      <form action="" method="POST">
        {% csrf_token %}
        <label for="comment">Reply here</label>
        <textarea type="text" name="comment" maxlength="6000"></textarea>
        <input type="hidden" value="{{ comment.pk }}" name="parent">
        <input type="submit" value="Post">
      </form>
    {% endif %}
    {% endif %}
  {% endfor %}

{% endblock content %}