<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}"/>
    <title>{% block title %}{% endblock title %}</title>
    {% if article.slug or micropost.slug in request.path %}
      <meta name="author" content="{% block meta_author %}{% endblock meta_author %}">
    {% endif %}

    {% comment %}<link rel="stylesheet" href="{% static "base.css" %}">

    Additional CSS files we might want to use{% endcomment %}
    {% block stylesheets %}{% endblock stylesheets %}
  </head>

    <body>
      {% block navbar %}{% endblock navbar %}

      {% block content %}{% endblock content %}

      {% comment %}
      If these scripts in the same page as infinite scroll, paginator will show duplicate items
      {% endcomment %}
      <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
      <script src="{% static 'js/infinite.min.js' %}"></script>

      {% block javascript %}{% endblock javascript %}
    </body>

</html>