{% extends 'boilerplate.html' %}

{% block title %}Change Your Password{% endblock title %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}
    <h1>Change Your Account Password</h1>

    {% if messages %}
      {% for message in messages %}
        <p>{{ message | safe }}</p>
      {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'accounts:account_settings' %}">&#8592; Back to settings</a>
        <button type="submit">Update Password</button>
    </form>
{% endblock content %}