{% extends 'boilerplate.html' %}

{% block title %}Create A Ryhom Account - {{ request.META.HTTP_HOST }}{% endblock title %}

{% block content %}

  <h1>Create An Account</h1>

  <p>Or <a href="{% url 'accounts:login' %}">log in</a> to your existing account</p>

    {% if messages %}
      {% for message in messages %}
        <p>{{ message | safe }}</p>
      {% endfor %}
    {% endif %}

  <form action="" method="POST">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
    {% endfor %}

    {% for field in form %}
      {{ field.label_tag }}
      <p>{{ field }}</p>
      <p>{{ field.errors }}</p>
      {{ field.help_text }}
    {% endfor %}

    <button type="submit">Create Your Account</button>
  </form>

{% endblock content %}