{% extends 'boilerplate.html' %}

{% block title %}Create A Ryhom Account{% endblock title %}

{% block content %}

  <h1>Create An Account</h1>

  <p>Or <a href="{% url 'login' %}">log in</a> to your existing account</p>

  <p>
    {% if messages %}
      {% for message in messages %}
        <p>{{ message | safe }}</p>
      {% endfor %}
    {% endif %}
  </p>

  <form action="" method="POST">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}

    {% for field in form %}
      <p>{{ field.errors }}</p>
      {{ field.label_tag }}
      <p>{{ field }}</p>
      {{ field.help_text }}
    {% endfor %}

    <button type="submit">Create Your Account</button>
  </form>

{% endblock content %}