{% extends 'boilerplate.html' %}

{% block title %}Log In To Your Account - {{ request.META.HTTP_HOST }}{% endblock title %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}

  <h1>Log In</h1>
  <p>Or <a href="{% url 'accounts:create_account' %}">create an account</a> to make your own posts</p>

  {% if messages %}
    {% for message in messages %}
      <p>{{ message | safe }}</p>
    {% endfor %}
  {% endif %}

  {% for key, key_errors in form.errors.as_data.items %}
    {% for error in key_errors %}
      {% if error.code == 'inactive_account' %}
        <p>Your account is still inactive! Click the confirmation link
          sent to your email to activate it, or <a href="{% url 'accounts:resend_activation_email' %}">
          re-send the email</a>.
        </p>
      {% endif %}
    {% endfor %}
  {% endfor %}

  <form action="" method="POST">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
    {% endfor %}

    {% for field in form %}
      {{ field.label_tag }}
      <p>{{ field }}</p>
      <p>{{ field.errors }}</p>
      {{ field.help_text }}
    {% endfor %}

    <button type="submit">Log In</button>

    <p><a href="{% url 'accounts:password_reset' %}">Forgot your password?</a></p>
  </form>

{% endblock content %}