{% extends 'boilerplate.html' %}

{% block title %}Log In To Your Ryhom Account{% endblock title %}

{% block content %}

  <h1>Log In</h1>
  <p>Or <a href="{% url 'create-account' %}">create an account</a> to make your own posts</p>

  <p>
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  </p>

  <form action="" method="POST">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}

    {% for field in form %}
      <p>{{ field.errors }}</p>
      {{ field.label_tag }}
      <p>{{ field }}</p>
      {{ field.help_text }}
    {% endfor %}

    <button type="submit">Log In</button>
  </form>

{% endblock content %}