{% extends 'boilerplate.html' %}

{% block title %}Reset Your Password{% endblock title %}

{% block content %}

  <h1>Reset Your Account Password</h1>

  <p>Enter your details below and we'll send you instructions to reset your password.</p>

  {% if messages %}
    {% for message in messages %}
      <p>{{ message | safe }}</p>
    {% endfor %}
  {% endif %}

  <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <a href="{% url 'accounts:login' %}">&#8592; Back to login</a>
      <button type="submit">Send Password Reset Instructions</button>
  </form>

{% endblock content %}