{% extends 'boilerplate.html' %}

{% block title %}{{ account.name }} On {{ request.META.HTTP_HOST }}{% endblock title %}
{% block meta_description %}{{ account.bio | slice:':160' }}{% endblock meta_description %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock navbar %}

{% block content %}

  {% if messages %}
    {% for message in messages %}
      <p>{{ message | safe }}</p>
    {% endfor %}
  {% endif %}

  <!-- User Profile Info -->
  <h1>{{ account.name }}</h1>
  {% if account.profile_image.url != '' %}
    <img src="{{ account.profile_image.url }}" alt="{{ account.name }}'s profile image" width="300">
  {% endif %}
  <a href="{{ account.website }}" target="_blank">{{ account.website | escape }}<a/>
  <p>Joined {{ account.date_joined | date:'M Y' }}</p>
  {% if account.gender != 'No response' %}
    <p>{{ account.gender }}</p>
  {% endif %}
  <p>{{ account.bio }}</p>
  <!-- End Of User Profile Info -->


  <!-- Articles Published By User -->
  <h2>Published Articles</h2>
  {% if user_articles %}
    {% for article in user_articles %}
      <p>{{ article.title }}</p>
    {% endfor %}
    <!-- End Of Articles Published By User -->

    <!-- User Articles Pagination -->
    {% if user_articles_amount > 10 %}
      <div>
        <span>
          {% if user_articles.has_previous %}
            <a href="?user-articles-page=1">&laquo; first</a>
            <a href="?user-articles-page={{ user_articles.previous_page_number }}">previous</a>
          {% endif %}

          <span>
            Page {{ user_articles.number }} of {{ user_articles.paginator.num_pages }}.
          </span>

          {% if user_articles.has_next %}
            <a href="?user-articles-page={{ user_articles.next_page_number }}">next</a>
            <a href="?user-articles-page={{ user_articles.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    {% endif %}
  {% else %}
    {% if account.username == request.user.username %}
      <p>You haven't published any articles yet!</p>
      <a href="{% url 'articles:add_article' %}">Write your first article</a>
    {% else %}
      <p>{{ account.name }} hasn't published any articles yet.</p>
    {% endif %}
  {% endif %}
  <!-- End Of User Articles Pagination -->


  <!-- Microposts Published By User -->
  <h2>Published Microposts</h2>
  {% if user_microposts %}
    {% for micropost in user_microposts %}
      <p>{{ micropost.title }}</p>
    {% endfor %}
  <!-- End Of Microposts Published By User -->

    <!-- User Microposts Pagination-->
    {% if user_microposts_amount > 10 %}
      <div>
        <span>
          {% if user_microposts.has_previous %}
            <a href="?user-microposts-page=1">&laquo; first</a>
            <a href="?user-microposts-page={{ user_microposts.previous_page_number }}">previous</a>
          {% endif %}

          <span>
            Page {{ user_microposts.number }} of {{ user_microposts.paginator.num_pages }}.
          </span>

          {% if user_microposts.has_next %}
            <a href="?user-microposts-page={{ user_microposts.next_page_number }}">next</a>
            <a href="?user-microposts-page={{ user_microposts.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    {% endif %}

  {% else %}
    {% if account.username == request.user.username %}
      <p>You haven't published any microposts yet!</p>
      <a href="{% url 'microposts:add_micropost' %}">Write your first micropost</a>
    {% else %}
      <p>{{ account.name }} hasn't published any microposts yet.</p>
    {% endif %}
  {% endif %}
  <!-- End Of User Microposts Pagination -->


  <!-- Comments Published By User -->
  <h2>Recent Comments</h2>
  {% if user_comments %}
    {% for comment in user_comments %}
      <p>{{ comment.comment }}</p>
    {% endfor %}

  {% else %}
    <p>No recent comments found.</p>
  {% endif %}
  <!-- End Of Comments Published By User -->

{% endblock content %}