{% extends 'boilerplate.html' %}

{% block title %}{{ request.user.name }}'s Posts{% endblock title %}

{% block content %}

  <h1>Your Posts</h1>
  <p>Here are all the articles and microposts published or saved by you...</p>

  <h2>Published Posts</h2>
  {% for article in published_articles %}
    <li>
      {{ article.title }}
    </li>
  {% endfor %}

  <h2>Your Drafts</h2>
  {% for article in saved_articles %}
    <li>
      {{ article.title }}
    </li>
  {% endfor %}

  <h2>Waiting For Review</h2>
  {% for article in waiting_review_articles %}
    <li>
      {{ article.title }}
    </li>
  {% endfor %}

  {% endblock content %}