{% extends 'boilerplate.html' %}

{% block title %}{{ account.name }} On {{ request.META.HTTP_HOST }}{% endblock title %}
{% block meta_description %}{{ account.bio | slice:':160' }}{% endblock meta_description %}

{% block content %}

  {% if messages %}
    {% for message in messages %}
      <p>{{ message | safe }}</p>
    {% endfor %}
  {% endif %}

  <h1>{{ account.name }}</h1>
  {% if account.profile_image.url != '' %}
    <img src="{{ account.profile_image.url }}" alt="{{ account.name }}'s profile image">
  {% endif %}
  <a href="{{ account.website }}" target="_blank">{{ account.website | escape }}<a/>
  <p>Joined {{ account.date_joined | date:'M Y' }}</p>
  {% if account.gender != 'No response' %}
    <p>{{ account.gender }}</p>
  {% endif %}
  <p>{{ account.bio }}</p>

  <h2>Published Articles</h2>
  {% for article in user_articles %}
    <p>{{ article.title }}</p>
  {% endfor %}

  <h2>Published Microposts</h2>
  {% for micropost in user_microposts %}
    <p>{{ micropost.title }}</p>
  {% endfor %}

  <h2>Recent Comments</h2>
  {% for comment in user_comments %}
    <p>{{ comment.comment }}</p>
  {% endfor %}

{% endblock content %}